Repository smolijar/protocat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eclint fix, eclint check

chore(client.md): Fix typo in gRPC.
  website/docs/wiki/client.md
Due: prettier --write, eclint fix, eclint check

chore(stub-generation): Update example to generate types.
  website/docs/wiki/stub-generation.md
Due: prettier --write, eclint fix, eclint check

wip
  src/lib/server/application.ts
  src/lib/server/call.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

feedback(stub-generation): Add ts_out flag description to list.
  website/docs/wiki/stub-generation.md
Due: prettier --write, eclint fix, eclint check

wip
  src/lib/server/application.ts
  src/test/server/call.test.ts
  tsconfig.json
Due: prettier --write, eslint --fix, eclint fix, eclint check

⬆️ Upgrade deps
  package.json
Due: prettier --write, eclint fix, eclint check

🚨 Fix linter issues
  .eslintrc.js
  src/lib/misc/type-helpers.ts
  src/lib/server/application.ts
  src/lib/server/call.ts
  src/lib/server/middleware/cache.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

📝 Disable API docs
  .travis.yml
  website/docusaurus.config.js
Due: prettier --write, eclint fix, eclint check

✨ Enhance error meta
  src/lib/server/application.ts
  src/lib/server/middleware/on-error.ts
  src/test/server/middleware/on-error.test.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

✅ Add tests for error metadata
  src/test/server/middleware/on-error.test.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

📝 Enable docusaurus
  .travis.yml
Due: eclint fix, eclint check

🔖 0.6.0
  package.json
Due: prettier --write, eclint fix, eclint check

wip
  package.json
  src/lib/server/middleware/on-error.ts
  src/proto/error_details.proto
  src/proto/status.proto
  src/test/server/middleware/on-error.test.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

📝 Fix badges on master branch
  README.md
Due: prettier --write, eclint fix, eclint check

⬆️ Upgrade TS, fix Promise type issues
  package.json
  src/lib/misc/grpc-helpers.ts
  src/test/server/middleware/on-error.test.ts
  src/test/server/server.cat.test.ts
  src/test/server/server.hello.test.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

⬆️ Upgrade protobug and grpc
  package.json
Due: prettier --write, eclint fix, eclint check

🔖 0.6.1
  package.json
Due: prettier --write, eclint fix, eclint check

wip
  .vscode/launch.json
  package.json
  src/lib/server/reflection.ts
  src/lib/server/reflection_run.ts
  src/test/api/reflection.proto
  src/test/api/v1/reflection.proto
Due: prettier --write, eslint --fix, eclint fix, eclint check

⬆️ Update TS and fix keyof issue from 4.2
  package.json
  src/lib/misc/type-helpers.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

💚 Drop Travis job for Node 10
  .travis.yml
Due: eclint fix, eclint check

🔖 0.6.2
  package.json
Due: prettier --write, eclint fix, eclint check

⬆️ Update deps
  .lintstagedrc
  package.json
Due: prettier --write, eclint fix, eclint check

🎨️ Fix formatting after prettier update
  src/lib/client/client.ts
  src/lib/client/interceptors/access-log-interceptor.ts
  src/lib/client/interceptors/metadata-interceptor.ts
  src/lib/server/call.ts
  src/lib/server/middleware/cache.ts
  src/lib/server/middleware/on-error.ts
  src/test/server/middleware/cache.test.ts
  src/test/server/middleware/middleware.test.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

🔖 0.6.3-beta.0
  package.json
Due: prettier --write, eclint fix, eclint check

🔖 0.6.3
  package.json
Due: prettier --write, eclint fix, eclint check

⬆️ Update to TS 4.4
  package.json
  src/lib/misc/type-helpers.ts
  src/lib/server/middleware/on-error.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

⬆️ Update grpc deps
  package.json
Due: prettier --write, eclint fix, eclint check

🔖 0.6.4
  package.json
Due: prettier --write, eclint fix, eclint check

⬆️ Update @grpc/grpc-js
  package.json
Due: prettier --write, eclint fix, eclint check

⬆️ Update google-protobuf
  package.json
Due: prettier --write, eclint fix, eclint check

⬆️ Update TS
  package.json
Due: prettier --write, eclint fix, eclint check

📝️ Update docusaurus, fix typedoc
  package.json
  typedoc.json
  website/docusaurus.config.js
  website/package.json
  website/yarn.lock
Due: prettier --write, eclint fix, eclint check

👷️ Migrate to Actions
  .github/workflows/node.js.yml
  .github/workflows/npm-publish.yml
  .github/workflows/pages-publish.yml
  .travis.yml
  package.json
Due: prettier --write, eclint fix, eclint check

Deploying to gh-pages from @ grissius/protocat@9a8d0691609c90548e459a97486a2d488fe71af5 🚀
  404.html
  assets/js/1b61c8d0.80c3ffb9.js
  assets/js/1b61c8d0.ea82fd03.js
  assets/js/6e70eae7.5f0e42f4.js
  assets/js/6e70eae7.e4328292.js
  assets/js/95394cfa.4d93b58a.js
  assets/js/95394cfa.b71a6b12.js
  assets/js/f6aebfbf.280af967.js
  assets/js/f6aebfbf.4cc3a956.js
  assets/js/runtime~main.14cbe28c.js
  assets/js/runtime~main.f9af6551.js
  docs/api/classes/ProtoCat/index.html
  docs/api/enums/CallType/index.html
  docs/api/index.html
  docs/api/interfaces/CacheImplementation/index.html
  docs/api/modules/index.html
  docs/wiki/basic-middleware/index.html
  docs/wiki/caching/index.html
  docs/wiki/client/index.html
  docs/wiki/error-handling/index.html
  docs/wiki/installation/index.html
  docs/wiki/metadata/index.html
  docs/wiki/middlewares/index.html
  docs/wiki/starting-server/index.html
  docs/wiki/stub-generation/index.html
  index.html
Due: prettier --write, eclint fix, eclint check

🔖 0.6.5-beta.0
  package.json
Due: prettier --write, eclint fix, eclint check

Deploying to gh-pages from @ grissius/protocat@5322ddaaca5213c19101b9c25615c58e2111435e 🚀
  404.html
  assets/js/1b61c8d0.e1c938cc.js
  assets/js/1b61c8d0.ea82fd03.js
  assets/js/6e70eae7.5f0e42f4.js
  assets/js/6e70eae7.ee0a9169.js
  assets/js/95394cfa.4d93b58a.js
  assets/js/95394cfa.c8719e42.js
  assets/js/f6aebfbf.280af967.js
  assets/js/f6aebfbf.f35e9019.js
  assets/js/runtime~main.038c5368.js
  assets/js/runtime~main.14cbe28c.js
  docs/api/classes/ProtoCat/index.html
  docs/api/enums/CallType/index.html
  docs/api/index.html
  docs/api/interfaces/CacheImplementation/index.html
  docs/api/modules/index.html
  docs/wiki/basic-middleware/index.html
  docs/wiki/caching/index.html
  docs/wiki/client/index.html
  docs/wiki/error-handling/index.html
  docs/wiki/installation/index.html
  docs/wiki/metadata/index.html
  docs/wiki/middlewares/index.html
  docs/wiki/starting-server/index.html
  docs/wiki/stub-generation/index.html
  index.html
Due: prettier --write, eclint fix, eclint check

Deploying to gh-pages from @ grissius/protocat@972b736683fa27420e216d7e484168f5b3f0a00a 🚀
  404.html
  assets/js/1b61c8d0.4e2fc164.js
  assets/js/1b61c8d0.e1c938cc.js
  assets/js/6e70eae7.83c438af.js
  assets/js/6e70eae7.ee0a9169.js
  assets/js/95394cfa.45c5d2bf.js
  assets/js/95394cfa.c8719e42.js
  assets/js/f6aebfbf.e32971fc.js
  assets/js/f6aebfbf.f35e9019.js
  assets/js/runtime~main.038c5368.js
  assets/js/runtime~main.0f817df9.js
  docs/api/classes/ProtoCat/index.html
  docs/api/enums/CallType/index.html
  docs/api/index.html
  docs/api/interfaces/CacheImplementation/index.html
  docs/api/modules/index.html
  docs/wiki/basic-middleware/index.html
  docs/wiki/caching/index.html
  docs/wiki/client/index.html
  docs/wiki/error-handling/index.html
  docs/wiki/installation/index.html
  docs/wiki/metadata/index.html
  docs/wiki/middlewares/index.html
  docs/wiki/starting-server/index.html
  docs/wiki/stub-generation/index.html
  index.html
Due: prettier --write, eclint fix, eclint check

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{ts,js,json,md})
  eslint --fix: any of: *.ts
  eclint fix: any of: *
  eclint check: any of: *
