Repository smolijar/protocat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eclint fix, eclint check

.lintstagedrc:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{ts,js,json,md}": "prettier --write",
  "*": ["eclint fix", "eclint check"]
}

✏️ Fix typos & make small changes to docs
  website/docs/wiki/basic-middleware.md
  website/docs/wiki/error-handling.md
  website/docs/wiki/metadata.md
  website/docs/wiki/middlewares.md
  website/docs/wiki/stub-generation.md
Due: prettier --write, eclint fix, eclint check

wip-client
  src/lib/client/client.ts
  src/test/client.test.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

wip
  package.json
  src/lib/client/client.ts
  src/lib/client/interceptors/metadata-interceptor.ts
  src/test/client.test.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

✨ Add grpc client with basic interceptors
  src/lib/client/client.ts
  src/lib/client/interceptors/access-log-interceptor.ts
  src/lib/client/interceptors/metadata-interceptor.ts
  src/test/client.test.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

♻️ Add npmrc release config
  .npmrc
Due: eclint fix, eclint check

🔖 0.4.0-beta.0
  package.json
Due: prettier --write, eclint fix, eclint check

✅ Add testing of status in AL interceptor
  src/test/client.test.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

✨ Add missing root client exports
  src/index.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

🏷️ Add UpdatedClient type helper without assertion
  src/lib/client/client.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

🏷️ Rename argument to fix inavlid dist
  src/lib/client/client.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

🔖 0.4.0-beta.1
  package.json
Due: prettier --write, eclint fix, eclint check

🏷️ Omit internal attributes from client instance
  src/lib/client/client.ts
  src/lib/misc/type-helpers.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

📝 Add client docs
  src/test/api/v1/cat.proto
  website/docs/wiki/client.md
  website/sidebars.js
Due: prettier --write, eclint fix, eclint check

🔖 0.4.0
  package.json
Due: prettier --write, eclint fix, eclint check

♻️ Add support for buffer cache in register/call
  src/lib/server/application.ts
  src/lib/server/call.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

✨ Add cache middleware
  src/lib/server/middleware/cache.ts
  src/test/server/middleware/cache.test.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

✨ Add cache callback
  src/lib/server/middleware/cache.ts
  src/test/server/middleware/cache.test.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

✨ Allow set function to access the call
  src/lib/server/middleware/cache.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

♻️ Avoid potential race codition with chain
  src/test/server/middleware/cache.test.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

🔖 0.5.0-beta.0
  package.json
Due: prettier --write, eclint fix, eclint check

🏷️ Allow hash to return undefined for no-cache
  src/lib/server/middleware/cache.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

✨ Add call param to cache.get
  src/lib/server/middleware/cache.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

🐛 Add root export for cache middleware
  src/index.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

🔖 0.5.0-beta.1
  package.json
Due: prettier --write, eclint fix, eclint check

💡 Add typedoc for caching
  src/lib/server/middleware/cache.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

📝 Add caching doc guide
  website/docs/wiki/caching.md
  website/sidebars.js
Due: prettier --write, eclint fix, eclint check

✏ Reword
  website/docs/wiki/caching.md
Due: prettier --write, eclint fix, eclint check

🔖 0.5.0
  package.json
Due: prettier --write, eclint fix, eclint check

⬆️ Upgrade dev deps and @grpc/grpc-js
  package.json
  src/test/client.test.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

🔖 0.5.1
  package.json
Due: prettier --write, eclint fix, eclint check

📝 Add temp link to docs
  README.md
Due: prettier --write, eclint fix, eclint check

🔧 Add CNAME
  website/static/CNAME
Due: eclint fix, eclint check

✨ Add root export for ProtoCatCall interface
  src/index.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

🔖 0.5.2
  package.json
Due: prettier --write, eclint fix, eclint check

🚀 Migrate to new domain
  README.md
  website/docusaurus.config.js
Due: prettier --write, eclint fix, eclint check

🔒️ Link to HTTPS
  README.md
  package.json
  website/docusaurus.config.js
Due: prettier --write, eclint fix, eclint check

✨ Add service generics for ProtoCat app
  src/lib/server/application.ts
  src/test/server/call.test.ts
  src/test/server/middleware/cache.test.ts
  src/test/server/middleware/on-error.test.ts
  src/test/server/server.cat.test.ts
  src/test/server/server.hello.test.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

wip
  package.json
  src/lib/server/application.ts
  src/lib/server/call.ts
  src/test/server/call.test.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

wip
  src/lib/server/call.ts
  src/test/server/call.test.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

chore(docs): Add some missing words to various documentation sections.
  website/docs/wiki/basic-middleware.md
  website/docs/wiki/metadata.md
  website/docs/wiki/middlewares.md
Due: prettier --write, eclint fix, eclint check
