Repository smolijar/protocat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eclint fix, eclint check

.lintstagedrc:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{ts,js,json,md}": "prettier --write",
  "*": ["eclint fix", "eclint check"]
}

👷️ Update publish workflow
  .github/workflows/npm-publish.yml
Due: eclint fix, eclint check

Deploying to gh-pages from @ grissius/protocat@9bf56455cd1f609874ca83f7252c04b0015899ac 🚀
  404.html
  assets/js/1b61c8d0.4e2fc164.js
  assets/js/1b61c8d0.9eef9cfd.js
  assets/js/6e70eae7.83c438af.js
  assets/js/6e70eae7.94392212.js
  assets/js/95394cfa.2f3e5ca3.js
  assets/js/95394cfa.45c5d2bf.js
  assets/js/f6aebfbf.e32971fc.js
  assets/js/f6aebfbf.ef11fdcf.js
  assets/js/runtime~main.0f817df9.js
  assets/js/runtime~main.4daf2e4c.js
  docs/api/classes/ProtoCat/index.html
  docs/api/enums/CallType/index.html
  docs/api/index.html
  docs/api/interfaces/CacheImplementation/index.html
  docs/api/modules/index.html
  docs/wiki/basic-middleware/index.html
  docs/wiki/caching/index.html
  docs/wiki/client/index.html
  docs/wiki/error-handling/index.html
  docs/wiki/installation/index.html
  docs/wiki/metadata/index.html
  docs/wiki/middlewares/index.html
  docs/wiki/starting-server/index.html
  docs/wiki/stub-generation/index.html
  index.html
Due: prettier --write, eclint fix, eclint check

📝️ Add information about status codes
  src/test/server/server.status.test.ts
  website/docs/wiki/error-handling.md
Due: prettier --write, eslint --fix, eclint fix, eclint check

Deploying to gh-pages from @ grissius/protocat@c1c44ef34b87c780ca93587f56f6e5c0fef1334e 🚀
  404.html
  assets/js/1b61c8d0.4cea6986.js
  assets/js/1b61c8d0.9eef9cfd.js
  assets/js/6e70eae7.07afed8e.js
  assets/js/6e70eae7.94392212.js
  assets/js/95394cfa.2f3e5ca3.js
  assets/js/95394cfa.8a111280.js
  assets/js/c460af01.a18a8b89.js
  assets/js/c460af01.e9874281.js
  assets/js/f6aebfbf.60163330.js
  assets/js/f6aebfbf.ef11fdcf.js
  assets/js/runtime~main.06d8f9cc.js
  assets/js/runtime~main.4daf2e4c.js
  docs/api/classes/ProtoCat/index.html
  docs/api/enums/CallType/index.html
  docs/api/index.html
  docs/api/interfaces/CacheImplementation/index.html
  docs/api/modules/index.html
  docs/wiki/basic-middleware/index.html
  docs/wiki/caching/index.html
  docs/wiki/client/index.html
  docs/wiki/error-handling/index.html
  docs/wiki/installation/index.html
  docs/wiki/metadata/index.html
  docs/wiki/middlewares/index.html
  docs/wiki/starting-server/index.html
  docs/wiki/stub-generation/index.html
  index.html
Due: prettier --write, eclint fix, eclint check

📝️ Update status badge
  README.md
Due: prettier --write, eclint fix, eclint check

Deploying to gh-pages from @ grissius/protocat@67b2eef54466e3954cb8cf5542fc17e97ab9039e 🚀
  404.html
  assets/js/1b61c8d0.4cea6986.js
  assets/js/1b61c8d0.84540174.js
  assets/js/5e8c322a.b9bbacec.js
  assets/js/5e8c322a.e76cbea2.js
  assets/js/6e70eae7.07afed8e.js
  assets/js/6e70eae7.adf798fc.js
  assets/js/95394cfa.1f937b97.js
  assets/js/95394cfa.8a111280.js
  assets/js/f6aebfbf.16b1fbf4.js
  assets/js/f6aebfbf.60163330.js
  assets/js/runtime~main.06d8f9cc.js
  assets/js/runtime~main.de7ee7f0.js
  docs/api/classes/ProtoCat/index.html
  docs/api/enums/CallType/index.html
  docs/api/index.html
  docs/api/interfaces/CacheImplementation/index.html
  docs/api/modules/index.html
  docs/wiki/basic-middleware/index.html
  docs/wiki/caching/index.html
  docs/wiki/client/index.html
  docs/wiki/error-handling/index.html
  docs/wiki/installation/index.html
  docs/wiki/metadata/index.html
  docs/wiki/middlewares/index.html
  docs/wiki/starting-server/index.html
  docs/wiki/stub-generation/index.html
  index.html
Due: prettier --write, eclint fix, eclint check

✨️ Return port on server start
  package.json
  src/lib/client/client.ts
  src/lib/server/application.ts
  src/test/client.test.ts
  src/test/server/middleware/cache.test.ts
  src/test/server/middleware/on-error.test.ts
  src/test/server/server.cat.test.ts
  src/test/server/server.hello.test.ts
  src/test/server/server.status.test.ts
  src/test/server/util.ts
Due: prettier --write, eslint --fix, eclint fix, eclint check

🔖 0.6.5-beta.1
  package.json
Due: prettier --write, eclint fix, eclint check

Deploying to gh-pages from @ grissius/protocat@7021206cb1df5ac17b7a3f38edfc8b0fa16002ab 🚀
  404.html
  assets/js/1b61c8d0.84540174.js
  assets/js/1b61c8d0.fd742942.js
  assets/js/6e70eae7.adf798fc.js
  assets/js/6e70eae7.ec7e056c.js
  assets/js/95394cfa.1f937b97.js
  assets/js/95394cfa.81b3586e.js
  assets/js/f6aebfbf.16b1fbf4.js
  assets/js/f6aebfbf.592cc510.js
  assets/js/runtime~main.5f6d484b.js
  assets/js/runtime~main.de7ee7f0.js
  docs/api/classes/ProtoCat/index.html
  docs/api/enums/CallType/index.html
  docs/api/index.html
  docs/api/interfaces/CacheImplementation/index.html
  docs/api/modules/index.html
  docs/wiki/basic-middleware/index.html
  docs/wiki/caching/index.html
  docs/wiki/client/index.html
  docs/wiki/error-handling/index.html
  docs/wiki/installation/index.html
  docs/wiki/metadata/index.html
  docs/wiki/middlewares/index.html
  docs/wiki/starting-server/index.html
  docs/wiki/stub-generation/index.html
  index.html
Due: prettier --write, eclint fix, eclint check

Delete CNAME
  CNAME
Due: eclint fix, eclint check

📝 Update baseUrl for docs
  README.md
  package.json
  website/docusaurus.config.js
  website/static/CNAME
Due: prettier --write, eclint fix, eclint check

Deploying to gh-pages from @ smolijar/protocat@3e459af05350341fe44508544a2837e67b83cc80 🚀
  404.html
  CNAME
  assets/js/1b61c8d0.bd58f5e8.js
  assets/js/1b61c8d0.c3288a8d.js
  assets/js/5e8c322a.13e79954.js
  assets/js/5e8c322a.f2196b52.js
  assets/js/6e70eae7.d081ff72.js
  assets/js/6e70eae7.eee43c19.js
  assets/js/95394cfa.5608cb28.js
  assets/js/95394cfa.901c8f09.js
  assets/js/f6aebfbf.98373e7e.js
  assets/js/f6aebfbf.aa4650da.js
  assets/js/main.5254792e.js
  assets/js/main.b45e476f.js
  assets/js/main.b45e476f.js.LICENSE.txt
  assets/js/runtime~main.76f3bbbe.js
  assets/js/runtime~main.f2cb922f.js
  docs/api/classes/ProtoCat/index.html
  docs/api/enums/CallType/index.html
  docs/api/index.html
  docs/api/interfaces/CacheImplementation/index.html
  docs/api/modules/index.html
  docs/wiki/basic-middleware/index.html
  docs/wiki/caching/index.html
  docs/wiki/client/index.html
  docs/wiki/error-handling/index.html
  docs/wiki/installation/index.html
  docs/wiki/metadata/index.html
  docs/wiki/middlewares/index.html
  docs/wiki/starting-server/index.html
  docs/wiki/stub-generation/index.html
  index.html
  sitemap.xml
Due: prettier --write, eclint fix, eclint check
